@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html,
  body {
    font-family: "Cairo", sans-serif !important;
  }
}
::selection {
  background: #e1001a;
  color: #fff;
  text-shadow: none;
}

::-webkit-scrollbar {
  width: 4px;
  overflow-y: scroll;
  background: #001415;
  box-shadow: inset 0 0 4px #707070;
}

::-webkit-scrollbar-thumb {
  background: #e1001a;
  border-radius: 10px;
}

.menu-top li {
  float: left;
  margin: 0 !important;
  padding: 0 10px 5px 10px;
}

.menu-top li a,
.menu-top li button {
  display: inline-block;
  padding: 9px 0 2px 0 !important;
  color: #000;
  text-transform: uppercase;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1) !important;
  font-weight: 700;
  font-size: 14px;
  transition: all 0.3s ease-in;
  position: relative;
}

.menu-top li a:before,
.menu-top li button:before {
  content: "";
  width: 0;
  left: 50%;
  left: 0;
  bottom: -1px;
  height: 1px;
  z-index: 10;
  background: #e1001a !important;
  position: absolute;
  transition: 0.3s ease-out;
}

.menu-top li a:hover,
.menu-top li button:hover {
  color: #e1001a;
  border-bottom: 1px solid rgba(255, 255, 255, 0) !important;
  transition: all 0.3s ease-out;
}

.menu-top a:hover:before,
.menu-top button:hover:before {
  width: 100%;
  left: 0;
  transition: 0.3s ease-out;
  border: 0 !important;
}

.menu-top li div {
  display: none;
  position: absolute;
  z-index: 1020;
  box-sizing: border-box;
  min-width: 200px;
  max-width: 200px;
  padding: 25px;
  background: #f8f8f8;
  color: #000;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.08);
  margin-top: 5px;
}

.menu-top li:hover div,
.menu-top li div:hover {
  display: block;
}

.menu-top li ul li {
  text-transform: none !important;
  display: block !important;
  width: 100%;
}

.menu-top li ul li a {
  color: #000 !important;
  border-bottom-color: rgba(0, 0, 0, 0) !important;
  display: block !important;
  text-transform: none !important;
  font-weight: normal;
  font-size: 14px;
  padding: 3px 0 0 0 !important;
}

.panel-container {
  height: 100%;
  width: 100%;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.carouselClass {
  direction: initial;
}
.carousel .control-next.control-arrow:before {
  border-left: 8px solid #e1001a !important;
}
.carousel .control-prev.control-arrow:before {
  border-right: 8px solid #e1001a !important;
}

.home-about h1 {
  font-size: 1.8rem;
  line-height: 2rem;
  margin-bottom: 1rem;
}

.home-about p {
  font-size: 1rem;
}

.mobile-menu {
  display: flex;
  flex-direction: column;
  font-size: 17px;
  text-transform: uppercase;
  text-align: center;
}

.mobile-menu li a {
  display: block;
  padding: 8px;
  border-bottom: solid 1px rgba(0, 0, 0, 0.15);
}

@media (min-width: 768px) {
  .home-about h1 {
    font-size: 2.5rem;
    font-weight: bold;
  }

  .home-about p {
    font-size: 1.5rem;
  }
}

.breadcrumb {
  display: flex;
  justify-content: center;
  font-size: 0.875rem;
  color: #555;
  text-align: center;
  text-transform: uppercase;
}

.breadcrumb li:nth-child(n + 2)::before {
  content: "/";
  margin: 0 4px 0 5px;
  font-size: 0.875rem;
  color: #999;
}

.about-tabs li button,
.about-tabs li a {
  background-color: #f2f2f2;
}

.about-tabs li.active button,
.about-tabs li.active a {
  padding-bottom: 15px;
  background-color: #e1001a;
  color: #fff;
}
.about-tabs li a.lavor {
  background-color: #40525c;
  color: #fff;
}
.about-tabs li a.fimer,
.about-tabs li a.shamal {
  background-color: #e1001a;
  color: #fff;
}
.about-tabs li a.piusi {
  background-color: #e1001a;
  color: #fff;
}
.about-tabs li a.cp {
  background-color: #b50900;
  color: #fff;
}
.about-tabs li a.faicom {
  background-color: #009640;
  color: #000;
}
.about-tabs li a.hazet {
  background-color: #f4ca04;
  color: #000;
}
.about-tabs li a.mazzola {
  background-color: #f2f2f2;
  color: #000;
}
.about-tabs li a.stayer {
  background-color: #e31f1a;
  color: #fff;
}
.about-tabs li a.teco {
  background-color: #00561c;
  color: #fff;
}
.about-tabs li a.startek {
  background-color: #376838;
  color: #fff;
}
.about-tabs li a.ital_garage {
  background-color: #4e5db6;
  color: #fff;
}
.about-tabs li a.hawk {
  background-color: #d10a10;
  color: #fff;
}

.overlay {
  z-index: 1;
}

.overlay:hover ~ a h2 {
  color: red;
}
.card-img img {
  transition: 0.3s ease-out;
}
.card .overlay:hover + .card-img img {
  transform: scale(1.2);
  transition: 0.3s ease-in;
}

.top-nav {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 1;
  display: none;
}

.card-img {
  width: 100%;
}

.category-img {
  width: 60px;
}

@media (min-width: 768px) {
  .category-img {
    width: 100%;
  }
  .top-nav {
    display: block;
  }
}

.rtl {
  direction: rtl;
}

.reference-list ul {
  font-size: 0.875rem;
  line-height: 1.25rem;
  padding-inline-start: 2rem;
  list-style-type: disc;
}

.contact-us {
  background-image: url("/images/contact-us.jpg");
}

.product-registration {
  background-image: url("/images/product-registration.jpg");
}

.carousel .control-dots .dot {
  background: #e1001a !important;
}
